#container {
    max-width: 800px;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column {
    display: flex;
}

.row {
    box-sizing: border-box;
    border: 1px solid black;
}
